head
  title Login
  link(rel='stylesheet' href='https://egkoppel.github.io/product-sans/google-fonts.css')
// Header goes here
.login
  form(autocomplete='off')
    label.label(for='username') Email
    br
    input#email.box(type='text' title="4 characters +, no spaces")
    br
    label.rec(for='username') 4 characters +, no spaces
    br
    br
    br
    label.label(for='password') Password
    br
    #password-toggle-wrap
      input#password.box(type='password' title="6 characters +, no spaces or punctuation except @ ! _")
      button#toggle.box(onclick='toggleVisibility()') t
    br
    label.rec(for='username') 6 characters +, no spaces or punctuation except ~ ! _
    br
    br
    label.check-desc
      | Remember me? 
      input#check(type='checkbox' style='transform: scale(1.25); padding: 2px;')
  center
    button.submit(onclick="login_register()") Submit

script.
  document.querySelector('#email').addEventListener('keypress', function (e) {if (e.key === 'Enter') {document.getElementById('password').focus();}});  // Move along in process on enter keypress
  document.querySelector('#password').addEventListener('keypress', function (e) {if (e.key === 'Enter') {login_register();}});                          // Move along in process on enter keypress
  function toggleVisibility(){var x = document.getElementById('password').type;if(x === 'password'){x = 'text';} else {x = 'password';}}

style.
  *{padding:0%; margin: 0%;}
  
  #password {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 335px;
  }

  #toggle {
    border-top-left-radius : 0px;
    border-bottom-left-radius : 0px;
    border-left: none;
    width: auto;
  }

  .login {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 25px;
    border-radius: 25px;
    text-align: center;
  }
  form {
    font-family: 'Product Sans';
  }
  .box {
    width: 350px;
    border: 2px grey solid;
    font-size: 24px;
    border-radius: 6px;
    padding: 5px;
    /*background: linear-gradient(to right, rgba(255, 144, 159, 0.2), rgba(255, 255, 42, 0.2));*/
    transition-duration: 0.2;
    box-shadow: 0 4px 8px 0 #dddddd, 0 6px 20px 0 #ffffff;
  }
  .box:focus {
    outline: none;
    box-shadow: 0 4px 8px 0 #aaaaaa, 0 6px 20px 0 #ffffff;
  }
  .rec {
    color: grey;
    font-size: 16px;
    margin-left: 5px;
  }
  .submit {
    font-family: 'Product Sans';
    font-size: 25px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    text-align: center;
    margin: 20px;
  }
  .submit:focus {
    outline: none;
  }