script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
script.
  function request(type, url, json=''){
    if(type === 'GET'){
      return axios.get(url);
    } else if(type === 'POST'){
      var _ = '';
      axios.post(url, json).then((response) => {
        _ = response;
      });

      return _;
    }
  }