script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
script.
  function request(type, url, json=''){

    const get = async () => {
      const response = await axios.get(url);
      return response
    }

    if(type === 'GET'){
      var ret = get();
    }












    return ret;
  }