include includes/header.pug

head
  title cake - 404
  link(rel='stylesheet' href='https://egkoppel.github.io/product-sans/google-fonts.css')
  link(rel='shortcut icon' type='image/jpg' href='https://cdn.discordapp.com/attachments/858014139246837810/859033264005447680/Blank_Print_Document_5.png')
  link(rel="preconnect" href="https://fonts.googleapis.com/%22%3E")
  link(rel="preconnect" href="https://fonts.gstatic.com/" crossorigin)
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" )
p#desc error
p#title 404
p#body
  | This page is not recognised
  br
  | please go to a valid page
  br
  a#link(href='/') Home
style.
  *{margin: 0; padding: 0;}
  #desc{
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  }
  #title{
  text-align: center;
  font-size: 125px;
  margin: -19px;
  }
  #body{
  text-align: center;
  font-size: 96px;
  font-family: 'Otomanopee One', sans-serif;
  }
  #link{
  text-decoration: none;
  color: blue;
  }
