include includes/header.pug
head
    title cake. - cart
p#title cart
#heading
    p#cart-heading Your Cart
#tile-construct
    .tile#sponge-tile
        img.image(src="https://cdn.discordapp.com/attachments/858014139246837810/863773997028343858/1200px-Victoria_Sponge_Cake_250677289.png" alt="Image SPONGE")
        p.title Sponge
        p.desc A light sponge to sponge up your day!
        #remove-sponge
            button.remove#remove-sponge-button X

    .tile#treacle-tile
        img.image(src="https://cdn.discordapp.com/attachments/858014139246837810/863775371953831946/R.png" alt="Image TREACLE")
        p.title Treacle
        p.desc Here is a descriptive text cause yeah
        #remove-treacle
            button.remove#remove-treacle-button X

    .tile#concave-tile
        img.image(src="https://media.discordapp.net/attachments/858014139246837810/863775759850930196/13580474945_841cef5e65_b.png?width=768&height=390" alt="Image CONCAVE")
        p.title Concave
        p.desc Here is a descriptive text cause yeah concave is basically a meme :/
        #remove-concave
            button.remove#remove-concave-button X

style.
    *{padding: 0; margin: 0; --GREENY: #42f5a4; --BLUEY: #42c2f5; --YELLOWY: lightgoldenrodyellow; --FADED: linear-gradient(to right, var(--GREENY), var(--BLUEY))}
    #title {
        margin: 0px 0px 0px 10px;
        font-size: 80px;
        font-weight: bolder;
    }
    #cart-heading {
        font-size: 30px;
        margin: 2% 0;
    }
    #heading {
        display: flex;
        align-items: flex-start;
        background: var(--YELLOWY);
        width: 85%;
        margin: 20px auto 0px auto;
        padding-left: 5%;
    }
    #tile-construct {
        background: var(--YELLOWY);
        width: 90%;
        margin: 0px auto 20px auto;
    }
    .tile {
        height: 100px;
        padding: 35px;
        margin: 0px 20px 20px 20px;
        display: grid;
        grid: column;
    }
    .title {
        font-size: 20px;
        position: absolute;
        margin-top: 40px;
        margin-left: 200px;
    }
    .image {
        height: 100px;
        width: 180px;
    }
    .desc {
        width: 800px;
        margin-top: -60px;
        margin-left: 400px;
    }
    .remove {
        background: salmon;
        width: 30px;
        height: 35px;
        border: none;
        margin-top: -70px;
        margin-left: 1000px;
    }

script.
    var cartVars = document.cookie.split("; ").find(row => row.startsWith("cart")).substring(5);
    var params = new URLSearchParams(cartVars)
    cartVars = cartVars.replace(/cake=/g, "")
    cartVars = cartVars.split("&")

    console.log("starting...");
    console.log(cartVars);
    const cartLen = cartVars.length;
        
    if(cartVars[0] != "") {
        cartVars[0] = "";
    }

    let noDupe = [...new Set(cartVars)];
    noDupe.shift()
    console.log("Done");

    console.log(noDupe)
    alert(noDupe)

    function close(remove, tile, type, cart) {

        function cookieRemove(type) {
            console.log("removed: " + type)
            var cartVars = document.cookie.split("; ").find(row => row.startsWith("cart")).substring(5);
            var params = new URLSearchParams(cartVars)
            document.cookie = document.cookie.replaceAll(type, "")
        }

        function updateCart() {
            var cartVars = document.cookie.split("; ").find(row => row.startsWith("cart")).substring(5);
            if (!cartVars.includes(type)){
                let popup = document.getElementById(tile);
                let show = 'none';
                popup.style.display = show;
            }
        }

        document.querySelector(remove).addEventListener('click', () => {
            cookieRemove(type)
            updateCart()
        });
    }
    close('#remove-sponge', 'sponge-tile', 'sponge', cartVars);
    close('#remove-treacle', 'treacle-tile', 'treacle', cartVars);
    close('#remove-concave', 'concave-tile', 'concave', cartVars);
    