#construction
    p ⚠️SITE UNDER⚠️ CONSTRUCTION
link(rel='stylesheet' href='https://egkoppel.github.io/product-sans/google-fonts.css')


style.
    html {
        background-color: black;
    }
    #construction {
        font-size: 180px;
        color: yellow;
        text-align: center;
        font-family: 'Product Sans';
    }