#construction
    p SITE UNDER CONSTRUCTION
    br
    br
    br
    br
    p PLEASE AND THANKS
    br
    br
    br
    br
    p UwU
    br
    br
    br
    br
    br
    br
    br
    br
    p.shh hey, secsi ;)

style.
    html {
        background-color: black;
    }
    #construction {
        font-size: 180px;
        color: yellow;
        text-align: center;
    }
    .shh {
        font-size: 10px;
    }