include includes/header.pug
head
    title Pug
    link(rel="preconnect" href="https://fonts.googleapis.com/%22%3E")
    link(rel="preconnect" href="https://fonts.gstatic.com/" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap")

#titles
    p.title Events
    p.subtitle A DevLog-type page

.grid-container
    .tile#tile-1
        p.tile-title THE VERY FIRST
        img#tile-1-beauty-face(src="https://images-ext-2.discordapp.net/external/RUn18D_0_d5lR1o-hMBHWbz8MjCjf73kCBVJGnk_5fw/https/3.bp.blogspot.com/-93U31TN9UuY/UGIOsYAgIcI/AAAAAAAAUgQ/t4G05o0dKLQ/s1600/tiles%2B3.jpg?width=286&height=473" alt="#tile-1 lookin' sexy ;0")
        .content
            p This is the anniversary of the first placeholder tile! :) Happy Birthday, #tile-1! We hope your world comes out a bright and eventful one. I love you. I shall nickname you...
            i Skylar Ashenfall Storm, Bravest of Pasficists!
            p I hope you grow old and powerful. I birth you this fine day on 21/07/2021, 21:55.
            p I love you! <3
        p.author Author: S Garrett
        p.date Date: 21/07/2021, 21:57


style.
    *{padding: 0; margin: 0; --GREENY: #42f5a4; --BLUEY: #42c2f5; --YELLOWY: lightgoldenrodyellow; --FADED: linear-gradient(to right, var(--GREENY), var(--BLUEY))}
    html {
        font-family: 'Otomanopee One', sans-serif;
    }
    #titles {
    }
    .title {
        font-size: 110px;
        margin: 5px 0px 0px 10px;
    }
    .subtitle {
        margin-left: 20px;
    }
    .grid-container {
        display: grid;
        grid-auto-flow: row;
        margin: 20px 20px 20px 100px;
        gap: 20px;
    }
    .tile {
        position: relative;
        background: var(--YELLOWY);
        width: auto;
        padding: 20px;
    }
    .tile-title {
        font-size: 30px;
        margin: 0px 0px 10px 35px;
    }
    .content {
        width: 85%;
    }
    #tile-1-beauty-face {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 220px;
    }
    .author, .date {
        font-weight: bolder;
    }