include includes/header.pug

#home
    p.title cake.
    br
    p.content a super duper landing page for cake. the company
style.
    body {
        background: #d8f1e6;
    }
    .title {
        font-size: 100px;
    }
    #home {
        margin: 0px 20px;
        padding: 10px;
        background: white;
        text-align: center;
        color: #221E22;
    }
    .content {
        padding: 100px;
        background: #F9FAE8;
        margin: 0px 20px;
    }