include includes/header.pug
head
  link(rel="preconnect" href="https://fonts.googleapis.com/%22%3E")
  link(rel="preconnect" href="https://fonts.gstatic.com/" crossorigin)
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" )
p.login_title Login.
  
include includes/login-form.pug

center
  p.or -or-
center
  a(href='/register')
    button.register Create a new account
style.
  html {
    font-family: 'Otomanopee One', sans-serif;
  }
  .login_title{
    font-size: 110px;
    margin-left: 45px;
  }
  .or {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  .register{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

script.
  async function login_register(){
    //ADD ENCRYPTION
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const checkbox = document.getElementById('check').checked;


    let payload = {
      email: "null",
      password: "null"
    }

    payload.email = email;
    payload.password = password;

    let response = await fetch('/api/login', {
      method: 'POST',
      headers: {'Content-Type': 'application/json',},
      body: JSON.stringify(payload)
    });
    let text = await response.text();
    console.log(text);
  }