include includes/header.pug
head
  link(rel='stylesheet' href='https://egkoppel.github.io/product-sans/google-fonts.css')
#login
  p.login_title login
  include includes/login-form.pug
  center
    p.or -or-
  center
    a(href='/register')
      button.register Create a new account
style.
  body {
    background: linear-gradient(to right, var(--GREENY), var(--BLUEY));
  }
  #login {
    background: white;
    margin: 0px 10px;
    padding-bottom: 33px;
  }
  .login_title{
    font-size: 108px;
    font-family: 'Product Sans';
    text-align: center;
    padding-bottom: 15px;
  }
  .or{
    font-family: 'Product Sans';
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  .register{
    font-family: 'Product Sans';
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
script.
  function login(){
    alert(document.getElementById('username').value + ', ' + document.getElementById('password').value + ', ', document.getElementById('check').checked);
    // #check = checkbox
    ///#check
  }
