include includes/header.pug
head
  link(rel='stylesheet' href='https://egkoppel.github.io/product-sans/google-fonts.css')
p.login_title Login.
style.
  .login_title{
    font-size: 108px;
    font-family: 'Product Sans';
    margin-left: 45px;
  }
  
include includes/login-form.pug

center
  p.or -or-
center
  a(href='/register')
    button.register Create a new account
style.
  .or{
    font-family: 'Product Sans';
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  .register{
    font-family: 'Product Sans';
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

include includes/request.pug

script.
  function login_register(){
    //ADD ENCRYPTION
    const username =  document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const checkbox = document.getElementById('check').checked;

    const a = request('GET', '/api/login');
    console.log(a);


    alert(`${username}, ${password}, ${checkbox}`);
  }