include includes/header
head
    title Profile
#greeting
    p#hello Welcome <i><b>placeholder</b></i>!
    p We have enjoyed making this project and we are so glad you tried to make an account with us! It shows faith in our power as humans and content provides. It has developed our skills and, in the end, that's what counts XD. Intresting fact actually... when <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">mojang.com</a> was in down time notch wrote a short poem. So I shall do the same.
    br
    p.poem They speak of a person,
    p.poem With the power of code.
    p.poem To build entire universes out of... code,
    p.poem To feed the souls and minds of everyone they touched.
    p.poem And because of this,
    p.poem You can be certain,
    p.rick They will never give you up.
    p.rick They will never let you down.
    p.rick Or desert you.
    br
    br
    br
    br
    br
    p.PS (I write this at 15:50, on a far too hot day. I would like to not look at the screen please.)
    p.shh Hmm... wassat do?


style.
    html {
        font-size: 20px;
    }
    #greeting {
        margin: 200px;
    }
    .poem {
        font-style: italic;
        margin-left: 220px;
        color: purple;
    }
    .rick {
        font-style: italic;
        margin-left: 220px;
        color: red;
    }
    .PS {
        font-size: 10px;
    }
    .shh {
        position: absolute;
        font-size: 8px;
        top: 360px;
        right: 690px;
    }