include includes/header.pug

p.register_title Register.
style.
  .register_title{
  font-size: 108px;
  font-family: 'Product Sans';
  margin-left: 45px;
  }


include includes/login-form.pug

script.
  function login_register(){
    alert(encrypt(document.getElementById('password').value));
    alert(document.getElementById('username').value + ', ' + document.getElementById('password').value + ', ', document.getElementById('check').checked);
    // #check = checkbox
    // #check
  }