include includes/header.pug
head
  link(rel='stylesheet' href='https://egkoppel.github.io/product-sans/google-fonts.css')
#register
  p.register_title register
  include includes/register-form.pug

style.
  body {
    background: linear-gradient(to right, #42f5a4, #42c2f5);
  }
  #register {
    background: white;
    margin: 0px 20px 10px 20px;
  }
  .register_title{
    font-size: 108px;
    font-family: 'Product Sans';
    text-align: center;
    padding-bottom: 15px;
  }

script.
  function register(){
    alert(document.getElementById('username').value + ', ' + document.getElementById('password').value + ', ' + ', ' + document.getElementById('email').value + ', ', document.getElementById('check').checked);
    // #check = checkbox
    ///#check
  }