include includes/header.pug
head
  link(rel='stylesheet' href='https://egkoppel.github.io/product-sans/google-fonts.css')
p.register_title Register.

style.
  .register_title{
    font-size: 108px;
    font-family: 'Product Sans';
    margin-left: 45px;
  }


include includes/login-form.pug

script.
  function login_register(){
    alert(encrypt(document.getElementById('password').value));
    // #check = checkbox
    // #check
  }