include includes/header.pug
head
  link(rel='stylesheet' href='https://egkoppel.github.io/product-sans/google-fonts.css')
#register
  p.register_title Register.
  include includes/login-form.pug

style.
  body {
    background: white;
  }
  #register {
    padding: 10px;
  }
  .register_title{
    font-size: 108px;
    font-family: 'Product Sans';
    margin-left: 45px;
  }

script.
  async function login_register(){
    //ADD ENCRYPTION
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const checkbox = document.getElementById('check').checked;


    let payload = {
      email: "null",
      password: "null"
    }

    payload.email = email;
    payload.password = password;

    let response = await fetch('/api/login', {
      method: 'POST',
      headers: {'Content-Type': 'application/json',},
      body: JSON.stringify(payload)
    });
    let text = await response.text();
    console.log(text);
  }