head
    title settings
#main
    #content
        p default

include includes/settings-nav.pug

style.
    body {
        background: linear-gradient(to right, #42f5a4, #42c2f5);
    }
    #main {
        float: right;
        margin: 20px 20px 0px 0px;
        height: 88%;
        width: 990px;
        background: white;
        padding: 20px;
        border-radius: 0px 0px 20px 0px;
    }