include includes/header.pug
head
    title shopping
.grid-container
    .tile#sponge-wrap(onclick='setCookie()')
        img(src="https://cdn.discordapp.com/attachments/858014139246837810/862063744154206218/shutterstock118860388.png")
        p.title Sponge
        p.date 06/07/2021
        p.author S Garrett
        p#txtName(value="green") purple

    .tile#treacle-wrap(onclick="getCookie()")
        img(src="https://cdn.discordapp.com/attachments/858014139246837810/862063744154206218/shutterstock118860388.png")
        p.title Treacle
        p.date 06/07/2021
        p.author S Garrett
        
    .tile#concave-wrap
        img(src="https://cdn.discordapp.com/attachments/858014139246837810/862063744154206218/shutterstock118860388.png")
        p.title Concave
        p.date 06/07/2021
        p.author S Garrett

.popup#sponge-popup
    #close-sponge
        button.button close

.popup#treacle-popup
    #close-treacle
        button.button close

.popup#concave-popup
    #close-concave
        button.button close

style.
    *{padding: 0; margin: 0; --GREENY: #42f5a4; --BLUEY: #42c2f5; --YELLOWY: lightgoldenrodyellow; --FADED: linear-gradient(to right, var(--GREENY), var(--BLUEY));}

    .grid-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        margin: 20px auto;
    }
    .grid-container a {
        text-decoration: none;
        color: black;
    }
    .grid-container a:hover {
        color: var(--BLUEY);
    }

    .tile {
        flex: 0 0 150px;
        border: 1px var(--GREENY) solid;
        margin: 10px;
        padding: 10px 10px 10px 10px;
    }
    .tile img {
        padding: 2px;
        border-bottom: 1px var(--BLUEY) solid;
        width: 100%;
    }
    .tile:hover {
        box-shadow: 1px 2px 2px 1px var(--GREENY), 1px 2px 2px 1px var(--BLUEY);
    }
    
    .title {
        font-size: 20px;
    }
    .date, .author {
        font-size: 15px;
    }

    .popup {
        position: absolute;
        top: 5%;
        bottom: 5%;
        left: 5%;
        right: 5%;
        background: var(--BLUEY);
        visibility: hidden;
        -webkit-box-shadow: -11px 11px 100px 40px var(--BLUEY);
        -moz-box-shadow:    -11px 11px 100px 40px var(--BLUEY);
        box-shadow:         -11px 11px 100px 40px var(--BLUEY);
    }
    .popup button {
        background: none;
        border: none;
        float: right;
        padding: 10px 15px 0px 0px;
        margin: 0;
    }

script.
    function popups(wrap, id, show) {
        document.querySelector(wrap).addEventListener('click', () => {
            let popup = document.getElementById(id);
            if (show == "open") {
                show = 'visible';
            } else {
                show = 'hidden';
                window.open("/shopping", "_top");
            }
            popup.style.visibility = show;
        });
    }
    
    popups('#sponge-wrap', 'sponge-popup', 'open');
    popups('#close-sponge', 'sponge-popup', 'close');

    popups('#treacle-wrap', 'treacle-popup', 'open');
    popups('#close-treacle', 'treacle-popup', 'close');

    popups('#concave-wrap', 'concave-popup', 'open');
    popups('#close-concave', 'concave-popup', 'close');